@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans:wght@300&family=Nunito:wght@200&display=swap');
.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.username {
  font-weight: bolder;
  font-size: larger;
  background-color: blanchedalmond;
}

.hero-section {
  position: relative;
  padding: 100px 0;
  background-color: #f8f9fa;
}

.hero-image {
  position: relative;
  height: 100%;
}

.hero-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 22rem;
  object-fit: cover;
}

.hero-content {
  max-width: 500px;
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero-content h6 {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero-content {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
}

.body {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.body h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.body h6 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.card h5 {
  border: none;
  padding-top: 2rem;
  font-weight: bold;
  padding: 1rem 3.5rem;
;
}

.card-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.card-text {
  line-height: 1.6;
  margin-bottom: 0;
}

.testimonial-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.testimonial-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonial-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.testimonial-row {
  margin-bottom: 30px;
}

.testimonial-text {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-text p {
  font-size: 16px;
  margin-bottom: 0;
}

.review-button {
  margin-top: 2rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
}

.form h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 400;
}

.form h5 {
  margin-bottom: 1.5rem;
  font-weight: 800;
}

.form .form-group {
  margin-bottom: 1.5rem;
}

.form label {
  font-weight: 600;
}

.form input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem ;
}

.form .btn {
  margin-top: 1.5rem;
  border-radius: 5px;
}

.form .text {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.form .text a {
  color: black;
}

.link {
  text-decoration: none;
}

.image {
  width: 30%;
}

.image img {
  width: 100%;
  height: auto;
}

.loan-calculator {
  text-align: left;
  max-width: 600px; /* increased width */
  margin-bottom: 3rem;
  padding: 3rem 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.loan-calculator h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.loan-content h2 {
  font-weight: bold;
  margin-top: 1rem;
}

.loan-image {
  top: 0;
  width: 30rem;
  right: 0;
}

.loan-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment {
  background-color: blanchedalmond;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 8px;
}

.modal-body p {
  margin: 10px 0;
}

.loan-form {
  text-align: left;
  max-width: 600px;
  padding: 3rem 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 15rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
}

.loanform-image img {
  width: 35rem;
  position: absolute;
  margin-left: 35rem;
}
