<!DOCTYPE html>
<html>
  <head>
    <title>PeerCashew</title>
    <%= csrf_meta_tags %>
    <!-- other meta tags, stylesheets, and scripts go here -->
  </head>
  <body>
    <!-- page content goes here -->
    <%= yield %>
  </body>
</html>
